
.container{
    background: #161717;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
   /*padding-top: 6rem;    
 padding-bottom: 6rem;*/

}
.nome{
    color: #43DD65 ;
    font-size: 2rem;
}

.container aside {
    margin-left: 6rem;
}

.identificacao{
    display: flex;
    flex-direction: column;
}

.tecnologias{
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}
.info{
    color:#D9D9D9
}