
.container_principal{
    background: #161717;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;

}
.nome{
    color: #43DD65 ;
    font-size: 2rem;
}
/*
.container aside {
    margin-left: 6rem;
}
*/

.identificacao{
    display: flex;
    flex-direction: column;
}

.tecnologias{
    display: flex;
    flex-direction: row;
    /*gap: 0.4rem;*/
}
.info{
    color:#D9D9D9
}

@media screen and (max-width: 700px) {
    figure{
        display: none;
    }

    .identificacao{
        padding: 2rem;
        align-items: center;
        justify-content: center;
    }
}