.container_contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #000000;
    height: 100vh;
}
.titulo_contato{
    
    background: #000000;
    color: #43DD65 ;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding-top: 2rem;

}

.container_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.contato_icon{
    display: flex;
    gap: 2rem;
}

.direitos_autorais{
    padding: 1.5rem;
    color: aliceblue;
}

@media screen and (max-width: 700px) {
    .direitos_autorais span{
        font-size: 0.8rem;
        text-align: center;
    }
}